

.outline, 
.outline-red, 
.outline-blue, 
.outline-all > * {
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.5);
}

.outline-red {
    border: 1px solid red;
}

.outline-blue {
    border: 1px solid blue;
}

.hide {
    display: none;
}

.hide-all > * {
    display: none;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.white {
    background-color: white;
}

