/*
? @document-start
======================
| PRIMARY STYLESHEET |
==================================================================================================================================

? @author:                 William J. Horn
? @document-name:          main-style.css
? @document-created:       03/24/2022
? @document-modified:      03/24/2022
? @document-version:       v1.0.0

==================================================================================================================================

? @document-info
==================
| ABOUT DOCUMENT |
==================================================================================================================================

==================================================================================================================================

? @document-changelog
======================
| DOCUMENT CHANGELOG |
==================================================================================================================================

==================================================================================================================================

? @document-todo
=================
| DOCUMENT TODO |
==================================================================================================================================

==================================================================================================================================
*/

/* ---------------- */
/* Global Variables */
/* ---------------- */

:root {
    --stormBlue: #637379;
    --rainBlue: #7b9199;
    --sunnySkyBlue: #9fb7c0;
}

/* ------------------- */
/* Global Declarations */
/* ------------------- */

* {
    /* overwrite bulma */
    line-height: normal;
}

html {
    overflow-y: scroll;
}

body {
    background-color: white;
}

header {
    background-color: var(--stormBlue);
    /* background-color: var(--rainBlue); */
    /* background-color: var(--sunnySkyBlue); */
    padding: 30px 0 30px 0;
}

h1 {
    color: #fffee3;
    text-shadow: 0 0 5px #a8a8a8;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 4rem;
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Source Code Pro', monospace; */
}

