/*
? @document-start
======================
| PRIMARY STYLESHEET |
==================================================================================================================================

? @author:                 William J. Horn
? @document-name:          main-style.css
? @document-created:       
? @document-modified:      
? @document-version:       v0.0.0

==================================================================================================================================

? @document-info
==================
| ABOUT DOCUMENT |
==================================================================================================================================

Coming soon

==================================================================================================================================

? @document-changelog
======================
| DOCUMENT CHANGELOG |
==================================================================================================================================

Coming soon

==================================================================================================================================

? @document-todo
=================
| DOCUMENT TODO |
==================================================================================================================================

-   

==================================================================================================================================
*/

div {
    background-color: red;
    opacity: 0.5;
    width: 200px;
    height: 200px;
}

div > div {
    background-color: blue;
}

div > div > div {
    background-color: green;
}

/* div:not([class='class-0-0-0']) {
    display: none;
}

.class-0-0-0 {
    position: relative;
} */

/* .class-0-0-0 button {
    position: absolute;
    right: -100px;
} */



