/*
? @document-start
======================
| PRIMARY STYLESHEET |
==================================================================================================================================

? @author:                 William J. Horn
? @document-name:          main-style.css
? @document-created:       03/14/2022
? @document-modified:      03/14/2022
? @document-version:       v0.0.0

==================================================================================================================================

? @document-info
==================
| ABOUT DOCUMENT |
==================================================================================================================================

Coming soon

==================================================================================================================================

? @document-changelog
======================
| DOCUMENT CHANGELOG |
==================================================================================================================================

* If there is a 'changelog' folder within this file directory then information on it's contents can be found here:
https://github.com/william-horn/my-coding-conventions/blob/main/document-conventions/about-changelog.txt

==================================================================================================================================

? @document-todo
=================
| DOCUMENT TODO |
==================================================================================================================================

-   

==================================================================================================================================
*/

/* ------------- */
/* Global Styles */
/* ------------- */

/* ------------ */
/* Outer Window */
/* ------------ */

/* --------*/
/* Top Bar */
/* ------- */

/* ------------ */
/* Inner Window */
/* ------------ */

/* inner-window container */
.inner-window {
    height: 60%;
}

/* ------------ */
/* Intro Screen */
/* ------------ */

/* intro screen container */
.intro-screen, 
main {
    width: 40%;
    height: auto; 
}

/* intro screen heading h1 */
.intro-screen h1 {
    letter-spacing: 2px;
    font-size: 2.5rem;
}

.intro-screen p {
    font-size: 1.2rem;
}

/* ---------------- */
/* Questions Screen */
/* ---------------- */


/* ------------- */
/* Finish Screen */
/* ------------- */

.finish-screen h2, 
.finish-screen header:first-child {
    margin-bottom: 5px;
}

.finish-screen p:nth-child(n) {
    margin-bottom: 30px;
}

/* ----------------- */
/* Highscores Screen */
/* ----------------- */
